.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  width: 25vmin;
  pointer-events: none;
}

/* activamos la animacion de la luna y el satelite  */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .App-img-satelite{
    animation: astronauta-animation infinite 2s linear;
  }
}

.App-header {
  background-color: #18192E;
  background-image: url(./static/estrellas.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  background-color: #40437A;
  height: 4em;
  width: 35%;
  color: white;
  border: 2px solid #40437A;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
.App-button:hover {
  color: white ;
  background-color: transparent;
}

.App-img-top-animation{
  height: 10vmin;
  display: none;
}


.App-header-404{
  display: flex;
  width: 70vmin;
  align-items: center;
  justify-content: space-around;
}
.App-header-404 h1 {
  font-size: 20vmin;
}

.App-img-astro{
  height: 10vmin;
}

.App-img-astronauta {
  background-image: url(./static/astronauta.png);
  background-size: 10vmin 10vmin;
  background-repeat: no-repeat;
  background-position: 125% 0;
  height: 50vmin;
  width: 50%;
  
  position: fixed;
  z-index: 2;
  left: 70%;
  top: -12.5%;
}

.App-img-astronauta:hover{
  /* animaciones */
  background-position: 100% 50px;

  animation-name: astronauta-animation;
  animation-duration: 7.5s;
  background-image: url(./static/astronauta.png);
}

.App-img-satelite{
  position: fixed;
  z-index: 1;
  top: -150px;
  left: -150px;

  width: 127.995px;
  height: 96px;

  animation-name: satelite-animation;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-delay: 5s;
}
/* responsive */
@media screen and (max-width: 450px) { 
  .App-header p {
    margin-right: 5%;
    margin-left: 5%;
  }
  
  .App-button{
    width: 80%;
    margin-top: 5%;
  }

  .App-img-satelite{  
    width: 63.9975px;
    height: 48px;
  }
}

/* animaciones */
@keyframes satelite-animation {
  0%{
    transform: translate(-80%, -80%) rotate(0deg);
  }

  50% {
    transform: translate(1200%, 1200%) rotate(360deg);

  }
  51% {
    transform: translate(-190%, 1200%) rotate(0deg);

  }
  100% {
    transform: translate(600%, -80%) rotate(360deg);
  }

}

@keyframes astronauta-animation {

  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(300deg);
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}